.home .logo {
	position: absolute;
	left: 0;
}

.home {}

.col-1-3 {
	width: 33.3333%;
}
.col-2-3 {
	width: 66.6666%;
}
.col-2-3, .col-1-3 {
	float: left;
	/*margin-top: 50%;*/
}

a .fa {
	color: #DC1F26;
	font-size: 2em;
	margin-right: 1em;
}

a .fa:hover {
	color: white;
}

.hero {
	color: white;
}

.two {
	padding-left: 1em;
}

.two h2, .two span {
	text-shadow: 1px 1px 5px black;
}