body {background-color: #232323;}
h1,h2,h3,h4,h5,h6 {font-family:'Press Start 2P', sans-serif;color:#ddd;}
p, a, li {font-family: 'Open Sans', sans-serif;color:#ddd;}
.row {
	margin: 0 auto;
	width: 85%;
	max-width: 1140px;
	display: block;
}
.col-10 {
	width: 83.333%;
	padding: 0 1.25%;
	margin-left: 8.333%;
	padding-top: 1em;
}
.contact {
	display: block;
	text-align: center;
}
.contact a {
	font-family: 'Press Start 2P', sans-serif;
	text-decoration: none;
}
.contact span {font-size:1.75em;}
.col-8 {
	width: 66.666%;
	padding: 0 1.25%;
	margin-left: 16.666%;
	padding-top: 10em;
	display:none;
}
section {margin-bottom: 6em;display: block;}
img.scale {
	max-width: 100%;
}
@media (max-width: 800px) {
	.col-10, .col-8 {
		padding: 0 1.25%;
		width: 100%;
		margin:0;
	}
}
.fly-in-top{
  -webkit-animation: flyintopanim 3s ease;
}
@-webkit-keyframes flyintopanim
{
  0% {-webkit-transform: translateY(-1000px);}
  100% {-webkit-transform: translateY(0px);}
}
.pop-in{
  -webkit-animation: popinanim 3s ease;
}
@-webkit-keyframes popinanim{
  0% {
	opacity:0;
	-webkit-transform: scale(0.75);
  }
  93% {
	opacity:0;
	-webkit-transform: scale(0.75);
  }
  100% {
	opacity:1;
	-webkit-transform: scale(1);
  }
}
.pop-in2{
  -webkit-animation: popinanim2 3s ease;
}
@-webkit-keyframes popinanim2{
  0% {
	opacity:0;
	-webkit-transform: scale(0.75);
  }
  95% {
	opacity:0;
	-webkit-transform: scale(0.75);
  }
  100% {
	opacity:1;
	-webkit-transform: scale(1);
  }
}
