body {
  padding: 50px;
  font: 14px 'Roboto', sans-serif;
  background-image: url('/images/stardust.png');
}
.scrollx{
  overflow-x:auto;
  height:100%;
  width:100%;
  padding:20px 0 0 0;
}
a {
  color:#888;
}
a:hover {
  color: #999;
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-style: normal;
  color: #bbb;
}

/*.cover {
  padding: 20px;
  background: rgba(150,150,150,.75);
}*/

.well {
  background: rgba(150,150,150,0);
  border:none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
.in-a-well{
  background: url('/images/fabric.png');
  margin-top: 20px;
  color: #444;
  padding-bottom:30px;
}
.in-a-well h1{
  color: #eee;
  position: relative;
  top: -44px;
  font-size: 3.5em;
  text-align: left;
  display:none;
}
.well-menu{
  font-size: 2em;
  position: relative;
  top: -90px;
  right: -130px;

}
.well-menu a {
  text-decoration:none;
  color: #eee;
}
.well-menu a:hover{
  color:#fff;
}
.well blockquote {
  text-align:left;
}
.well .blockquote-reverse{
  border-left:none;
  border-right: 5px solid rgba(0, 0, 0, 0.15);
  text-align:right;
}
.popover-content {
  color: #333;
}
.quotes{
  list-style:none;
  padding: 0;
  text-align: left;
  display: none;
  float: left;
}
.quotes li {
  margin: 20px 20px 20px 0;
}
.quotes li button {
  width: 180px;
  border-radius: 0;
  height: 100px;
  background: url("/images/stardust.png");
  color: #bbb;
  font: 20px 'Roboto Slab';
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.quotes li button:hover {
  color: #999;
  background: url("/images/fabric.png");
}
/*.glue {
  position: absolute;
}
#unglue0, #unglue1, #unglue2, #unglue3 {
  top:35px;
}*/
.quotes li button:focus{
  color: #bbb;
}
.quotes li button cite {
  font-size: 12px;
}
.popovers{
  margin: 0 0 0 -20px;
}
.popover {
  max-width: 455px;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  -o-box-shadow: none;
  display: block;
  position: inherit;
  height: 100px;
  padding: 0 0 0 10px;
  margin: 15px 0 10px 170px;
  font-size: 15px;
  display: none;
  color: transparent;
  background: none;
  border: none;
  border-left: 3px solid #444;
}
.popover-words {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.info{
  position:relative;
  padding-top:15px;
}
.inner{
  height:510px;
}
.listing {
  list-style: none;
  text-align: left;
}
.lists {
  float:left;
}

body .modal-content {
  background-color: #666;
  text-align: left;
}

.links {
  margin:0 auto;
}
.inline-list{
  list-style:none;
  margin: 0 0 -100px 0;
  padding:0;
}
.inline-list li{
  display: inline-block;
}
.dropdown button{
  background: none;
  border: none;
  color: inherit;
}
.dropdown-menu {
  left: -30px;
  background: transparent;
  position: absolute;
  z-index: 1000;
  float: left;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu li a{
  color: #fff;
  display: block;
  width: 100px;
  padding: 0;
  margin: 0;
  text-align:left;
}

.process{
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
}
.green{color:#5cb85c;}
.yellow{color:#f0ad4e;}
.red{color:#d9534f;}
.width0{width:0;}
.width5{width: 5%;}
.width10{width: 10%;}
.width15{width: 15%;}
.width20{width: 20%;}
.width25{width: 25%;}
.width30{width: 30%;}
.width35{width: 35%;}
.width40{width: 40%;}
.width45{width: 45%;}
.width50{width: 50%;}
.width55{width: 55%;}
.width60{width: 60%;}
.width65{width: 65%;}
.pb1, .pb2, .pb3 {background-color:transparent;}
.pb1{border:1px solid #999;}
.pb2{border:1px solid #666;}
.pb3{border:1px solid #333;}

.subTitle{
  font-size: 15px;
}

#experienceBox, #knowledgeBox, #portfolioBox, #praiseBox, #contactBox {
  display:none;
  position: absolute;
}
.invert{
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}

.shiftingWell {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.not-lead {padding: 0 33px;}

#portfolioBox button {
  width: 207px;
  height: 100px;
  margin: 20px 20px 0 0;
  color: transparent;
  border: solid 1px #eee;
  border-radius: 0;
}
.modal-lg {
  width: 70%;
}
.modal-sm {
  width: 250px;
}
.modal-md {
  width: 330px;
}
#portfolioBox .modal-content{
  background-color:#ddd;
}
.capanna-btn {background-image:url("/images/port-images/thumb/capanna.png");}
.wedge-btn {background-image:url("/images/port-images/thumb/wedge.png");}
.chat-btn {background-image:url("/images/port-images/thumb/chat.png");}
.dice-btn {background-image:url("/images/port-images/thumb/dice.png");}
.javajacket-btn {background-image:url("/images/port-images/thumb/javajacket.png");}
.easter-btn {background-image:url("/images/port-images/thumb/easter.png");}
.christmas-btn {background-image:url("/images/port-images/thumb/christmas.png");}
.armory-btn {background-image:url("/images/port-images/thumb/armory.png");}
#portfolioBox button:hover {
  background:url("/images/stardust.png");
  color: #eee;
}
.instruction{
  font-family:Roboto;
  font-size:15px;
  color: #bbbbbb;
}
.exp-btn{
  background:url('/images/fabric.png');
  border-radius: 0;
  border:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin: -30px 5px 0 5px;
  width: 110px;
}
#contactBox {
  text-align: left;
}
#contactBox .listy .list{
  font-size:20px
}
#contactBox p{
  font-size:25px;
  margin-top: 25px;
}
#contactBox .well-menu{
  left:200px;
}
#contactBox form{
  margin-top: 35px;
}
.contact-send {
  border-radius: 0;
  height: 27px;
  padding-top:2.5px;
  margin-top: -3px;
  -webkit-box-shadow: inset 0px 0px 3px #666;
}
